<div class="container">
    
    <div class="row">
        <div class="display-4" style="font-family: Arial, Helvetica, sans-serif;">
            Contact Us
        </div>
    </div>

    <div class="row" style="background-color: gainsboro;">
        <button class="btn btn-primary btn-lg">
            <a href="https://web.facebook.com/ezeike.promisechiemela" style="color: white;">facebook</a>
        </button>
        <hr>
        <button class="btn btn-primary btn-lg">
            <a href="https://www.linkedin.com/in/promise-ezeike-699998190/">LinkedIn</a>
        </button>
    </div>

</div>